/* Header Styles */
header {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    width: 100%;
    top: 0; 
    left: 0; 
    z-index: 1000; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: whitesmoke;
  }
  
  .logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 150px; 
    width: auto;
    background-color: #ccc;
    color: #ddd;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
  }
  
  .nav-links a:hover {
    background: #f4f4f4;
    border-radius: 4px;
  }
  
  .login-button {
    background: grey;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: darkgrey;
  }
  
   /*Styles to display active links*/
   .active {
    color: blueviolet;
  }
