/* Put these src/app/app.component.css */
/* :host {
    --content-padding: 10px;
  }
  header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
  }
  .content {
    padding: var(--content-padding);
  }
   */


 /* Header Styles */
header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  width: 100%;
  top: 10px; 
  left: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 150px; 
  width: auto;
  background-color: #ccc;
  color: #ddd;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #f4f4f4;
  border-radius: 4px;
}

.login-button {
  background: grey;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.login-button:hover {
  background: darkgrey;
}

/* Styles to display active links */
.active {
  color: blueviolet;
}

/* Additional styles for main content to adjust for fixed header */
.content {
  padding-top: 100px; /* Adjust based on header height */
}
