/* Put these styles in: src/home/home.component.css */

/* Header Styles */
header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  width: 100%;
  top: 0; 
  left: 0; 
  z-index: 1000; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 150px; 
  width: auto;
  background-color: #ccc;
  color: #ddd;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #f4f4f4;
  border-radius: 4px;
}

.login-button {
  background: grey;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.login-button:hover {
  background: darkgrey;
}

 /*Styles to display active links*/
 .active {
  color: blueviolet;
}


/* Body Styles */

.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }
  
 